@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(to bottom right, #0E143C, #F1C6D7);
}

/*
** Entête de page
*/

.logo{
    width: 150px;
}

header{
    width: 70%;
    margin: 30px auto auto auto;
    border-bottom: 1px solid;
}

header div{
    display: flex;
    justify-content: space-between;
}


header div nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header div nav ul li{
    list-style: none;
}

header div nav a{
    text-decoration: none;
    color: white;
    transition: color 250ms;
}

header div nav a:hover{
    color: grey;
    transition: color 250ms;
}

.button{
    border-style: solid;
    padding: 5px 10px 5px 10px;
    margin: 2px;
    border-radius: 20px;
}

/*
** Corps de la page
*/

body{
    color: white;
}


main section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 100px auto auto auto;
    gap: 100px;
}

main section div p{
    width: 80%;
    text-align: left;
    font-size: 1.5rem;
}

main section div h1{
    font-size: 2.5rem;
    text-align: left;
}

/*
** Photo Iphone
*/

.iphonelight{
    height: 400px;
}

.container{
    position: relative;
    height: 60%;
    width: 70%;
}

.iphonedark{
    position: absolute;
    left: 60%;
    height: 500px;
    bottom: 20%;
}

/*
** Lien du main
*/

.explore{
    text-decoration: none;
    color: rgba(233, 233, 233, 0.5);
    background-color: #179de9;
    padding: 10px 15px;
    border-radius: 6px;
    transition: color 250ms;
    transition: background-color 250ms;
}

.explore:hover{
    color: white;
    background-color: darkblue;
    transition: color 250ms;
    transition: background-color 250ms;
}

.doc{
    text-decoration: none;
    color: white;
    padding: 7px 15px;
    border-radius: 6px;
    border-style: solid;
}

/*
** Bas de page
*/

footer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white ;
    width: 70%;
    margin: 60px auto auto auto ;
    align-items: center;
}

footer img{
    width: 50px;
}

footer nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer nav ul li{
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    color: white;
    transition: color 250ms;
}

footer nav ul li a:hover{
    color: grey;
    transition: color 250ms;
}